@model WebSite.Models.UI.ChangePassword

@{
    ViewBag.Title = "Change Password";
}

<h2>Change User's Password</h2>

<p>@(ViewBag.Message ?? "")</p>

@using (Html.BeginForm()) {
    
    @Html.ValidationSummary(false)

        <div class="editor-label">
            @Html.LabelFor(model => model.EmailAddress)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EmailAddress)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Password)
        </div>
        <p>
            <input type="submit" value="Change Password" />
        </p>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
