@model WebSite.Models.User

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>User</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IdentityProvider)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdentityProvider)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IdentityProviderIssuedUserId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdentityProviderIssuedUserId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EmailAddress)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EmailAddress)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LastName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsBanned)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsBanned)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SignUpDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SignUpDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LastLoginDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastLoginDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TrialExpiryDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TrialExpiryDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Subscription.AuthorizeNETSubscriptionId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Subscription.AuthorizeNETSubscriptionId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SubscriptionExpiryDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SubscriptionExpiryDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AutoTradingSubscription)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AutoTradingSubscription.AuthorizeNETSubscriptionId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NotificationSettings.NotificationSettingId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NotificationSettings.NotificationSettingId)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.UserId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
