@model IEnumerable<WebSite.Models.User>

<h2>@(ViewBag.Title ?? "List of Members")</h2>
<table style="width: 100%;">
    <tr>
        <td style="width: 16%;text-align: center;">@Html.ActionLink("Trial Active", "ActiveTrialMembers")</td>
        <td style="width: 16%;text-align: center;">@Html.ActionLink("Trial Expired", "ExpiredTrialMembers")</td>
        <td style="width: 16%;text-align: center;">@Html.ActionLink("Subscription Active", "SubscribedMembers")</td>
        <td style="width: 16%;text-align: center;">@Html.ActionLink("Subscription Suspended", "SuspendedMembers")</td>
        <td style="width: 16%;text-align: center;">@Html.ActionLink("Cancelled", "CancelledMembers")</td>
        <td style="width: 16%;text-align: center;">@Html.ActionLink("All", "AllUsers")</td>
    </tr>
</table>
<table style="width: 100%;">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </th>
        <th>
            Name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SignUpDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastLoginDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EmailAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td style="text-align: center;">
            @(item.SignUpDate.ToShortDateString())
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastLoginDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UserId }) |
            @Html.ActionLink("Details", "Details", new { id=item.UserId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UserId }) |
            @if (!item.SubscriptionId.HasValue)
            {
                @Html.ActionLink("Add Subscription", "Subscribe", new { userId = item.UserId })
            }
            else if (!item.Subscription.IsSuspended)
            {
                @Html.ActionLink("Suspend Account", "Suspend", new { userId = item.UserId })@: |
                @Html.ActionLink("Cancel", "Cancel", new { userId = item.UserId })
            }
        </td>
    </tr>
}

</table>
