@model WebSite.Models.Data.NotificationSettings
@section Scripts
{
    @Scripts.Render("~/bundles/jqueryui")
    <script type="text/javascript">
        $(function ()
        {
            var cancellationDialog = $("#cancellation-dialog-div").dialog({
                resizable: false,
                modal: true,
                autoOpen: false,
                width: 'auto',
                draggable: false,
                title: "Cancelling Subscription",
                buttons: {
                    "Cancel Subscription": function ()
                    {
                        window.location.href = '@(Url.Action("CancelSubscription"))';
                    },
                    "Don't Cancel Subscription": function ()
                    {
                        $(this).dialog("close");
                    }
                }
            });

            $("#cancellation-link-a").click(function()
            {
                $("#cancellation-dialog-div").dialog('open');
            });

            var autoTradingCancellationDialog = $("#autotrading-cancellation-dialog-div").dialog({
                resizable: false,
                modal: true,
                autoOpen: false,
                width: 'auto',
                draggable: false,
                title: "Cancelling Auto Trading",
                buttons: {
                    "Cancel Auto Trading": function ()
                    {
                        window.location.href = '@(Url.Action("CancelAutoTrading"))';
                    },
                    "Don't Cancel Auto Trading": function ()
                    {
                        $(this).dialog("close");
                    }
                }
            });

            $("#autotrading-cancellation-link-a").click(function ()
            {
                $("#autotrading-cancellation-dialog-div").dialog('open');
            }); 
        });
    </script>
}
<h2>Subscription Settings</h2>
<div id="cancellation-dialog-div">
    Are you sure you want to cancel your subscription?
</div>
<div id="autotrading-cancellation-dialog-div">
    Are you sure you want to cancel auto-trading?
</div>
<div style="padding-top: 10px; padding-bottom: 10px;">
@if (ViewBag.IsTrialMember)
{
    if (ViewBag.IsTrialExpired)
    {
        @Html.ErrorMessage("Your trial has expired. Please subscribe to continue enjoying our services! " + Html.ActionLink("Subscribe Now", "Subscribe"))
    }
    else
    {
        <span>Your trial will expire in @(ViewBag.TrialDaysLeft) days. @Html.ActionLink("Subscribe now", "Subscribe") to ensure you receive uninterrupted service.</span>
    }
}
else if (ViewBag.IsUsingSuspendedSubscription)
{
    @Html.ErrorMessage("Your last payment was not successful. Please " + Html.ActionLink("update your subscription information", "UpdateSubscription") + " to continue using the website. You won't be receiving our email content while your payment is in the suspended state.")
}
else if (ViewBag.IsUsingCancelledSubscription)
{
    if (ViewBag.CancelledSubscriptionIsExpired)
    {
        @Html.ErrorMessage("You've used the remainder time of your subscription. Please " + Html.ActionLink("resubscribe", "Subscribe") + " to continue using the website.")
    }
    else
    {
        <span>You have cancelled your subscription but may use the website until @ViewBag.SubscriptionExpiryDate. Please @Html.ActionLink("resubscribe", "Subscribe") to continue using the website after @ViewBag.SubscriptionExpiryDate.</span>
    }
}
else
{
    <span>You have an active @ViewBag.SubscriptionFrequency subscription. <a href="#" id="cancellation-link-a">Cancel Subscription</a></span>
    
    <h2 style="padding-top: 8px;">Add-Ons</h2>
    
    if (ViewBag.HasAutoTrading)
    {
        @:You have auto-trading enabled. <a href="#" id="autotrading-cancellation-link-a">Cancel Auto Trading</a>
    }
    else
    {
        @:Stockwinners offers auto trading for interested investors through its partnership with EOption. Auto trading enables you to have our selection traded automatically on your behalf. The trade allocations will be performed based on the preferences that you setup with EOption. You'll need to activate this feature on our end and also open a brokerage account at EOption. Stockwinners.com charges $20 per month to enable auto-trading. For more information on EOption's requirements and guidelines, please visit <a href="http://www.eoption.com/auto_trading.html">EOption</a>.<br /><br />@Html.ActionLink("Enable Autotrading", "AddAutoTrading")
    }
}
</div>
<h2>Notification Settings</h2>
@if (ViewBag.SavedSuccessfully)
{
    @Html.SuccessMessage("Changes have been saved.")
}
@using (Html.BeginForm())
{
    <div style="padding-top: 10px;">
            @Html.CheckBoxFor(m => m.ReceiveDailyAlerts) @Html.LabelFor(m => m.ReceiveDailyAlerts, new { @style = "display: inline;" })<br />
            @Html.CheckBoxFor(m => m.ReceiveStockPicks) @Html.LabelFor(m => m.ReceiveStockPicks, new { @style = "display: inline;" })<br />
            @Html.CheckBoxFor(m => m.ReceiveOptionPicks) @Html.LabelFor(m => m.ReceiveOptionPicks, new { @style = "display: inline;" })<br />
            @Html.CheckBoxFor(m => m.ReceiveGeneralAnnouncements) @Html.LabelFor(m => m.ReceiveGeneralAnnouncements, new { @style = "display: inline;" })<br />
    </div>
    <div style="padding-top: 10px; width: 100%; text-align: right;">
        <input type="submit" value="Save Changes" />
    </div>
}
<div style="text-align: right; padding-top: 8px;">@Html.ActionLink("Change Password", "ChangePassword", "Account")</div>
