@using WebSite.Controllers
@{
    ViewBag.Title = "Active Traders";
}
@section Styles
{
    <style type="text/css">
        #feedback
        {
            font-size: 10pt;
        }

        #selectable .ui-selecting
        {
            background: #FECA40;
        }

        #selectable .ui-selected
        {
            background: #F39814;
            color: white;
        }

        #selectable
        {
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 100%;
        }

            #selectable li
            {
                margin: 3px;
                padding: 0.4em;
                font-size: 10pt;
                height: 12px;
            }
    </style>
}
@section Scripts
{
    @Scripts.Render("~/ViewModels/ActiveTradersViewModel.js")
    @Scripts.Render("~/bundles/upshot")
    @Scripts.Render("~/Scripts/jquery.signalR-0.5.2.js")
    @Scripts.Render("~/signalr/hubs")
    @Scripts.Render("~/bundles/jqueryui")
    <script type="text/javascript">
        $(function ()
        {
            var activeTradersHub = $.connection.activeTradersHub;
            var dataModel = new ActiveTradersViewModel();

            activeTradersHub.addNewsElement = function (data)
            {
                dataModel.addNewsElement(data);
            };

            activeTradersHub.resetState = function (data)
            {
                dataModel.resetItems();
            };

            $.connection.hub.start().done(function ()
            {
                // This custom handler will change the way symbols are presented in the UI so that a ; delimited text 
                // text is space delimited so that the text can be wrapped. Also, we change NOSYMBOL to the empty string so that the
                // user does not see NOSYMBOL.
                ko.bindingHandlers.symbols = {
                    init: function (element, valueAccessor)
                    {
                        var dataValue = valueAccessor()().toString();

                        if (dataValue == "NOSYMBOL")
                        {
                            $(element).text("");
                        }
                        else
                        {
                            $(element).text(dataValue.split(";").join(" "))
                        }
                    },
                    update: this.init
                };

                // Start binding our UI data
                ko.applyBindings(dataModel);

                // Notify the server that we want to listen to items
                activeTradersHub.clientInitialize();

                showOptions = function()
                {
                    $("#options-div").html('Displaying ' + dataModel.getFilters());
                };

                // Initialize the settings tabs and show the tab as collapsed on start
                $("#tabs").tabs({ collapsible: true }).tabs("select", 0);

                // Show initial set of options
                showOptions();

                // Initialize set of selectable filters
                $("#selectable").selectable({
                    selected: function (event, ui)
                    {
                        dataModel.addFilter($(ui.selected).attr('data-filter-name'));
                        showOptions();
                    },
                    unselected: function (event, ui)
                    {
                        dataModel.removeFilter($(ui.unselected).attr('data-filter-name'));
                        showOptions();
                    }
                }).selectable("option", "Hot Stocks", true); // Select Hot Stocks by default
            });
        });
    </script>
}
<div>
    <h2 style="display: inline-block;">Active Traders</h2>
    <div id="tabs" style="width: 37px; display: inline-block; float: right">
        <ul>
            <li><a href="#tabs-1">
                <img src="/Images/settings-gear.png" /></a></li>
        </ul>
        <div id="tabs-1" style="position: absolute; background-color: white; width: 300px; border-color: black; border-width: 1px;" class="ui-tabs-hide">
            <ol id="selectable">
                <li class="ui-widget-content" data-filter-name="Hot Stocks">Hot Stocks</li>
                <li class="ui-widget-content" data-filter-name="General News">General News</li>
                <li class="ui-widget-content" data-filter-name="Earnings">Earnings</li>
                <li class="ui-widget-content" data-filter-name="Recommendations">Recommendations</li>
                <li class="ui-widget-content" data-filter-name="Syndicate">Syndicate</li>
                <li class="ui-widget-content" data-filter-name="Technical Analysis">Technical Analysis</li>
                <li class="ui-widget-content" data-filter-name="Periodicals">Periodicals</li>
                <li class="ui-widget-content" data-filter-name="Options">Options</li>
                <li class="ui-widget-content" data-filter-name="Conference/Events">Conference/Events</li>
                <li class="ui-widget-content" data-filter-name="Rumors">Rumors</li>
                <li class="ui-widget-content" data-filter-name="Rec-Upgrade">Brokerage Upgrades</li>
                <li class="ui-widget-content" data-filter-name="Rec-Downgrade">Brokerage Downgrades</li>
                <li class="ui-widget-content" data-filter-name="Rec-Initiate">Brokerage Initiations</li>
            </ol>
            <span style="font-size: 8pt;">Please choose the category of news you like to view by simply clicking on the category. You can drag your mouse over multiple categories to select them in one shot.</span>
        </div>
    </div>
    <div id="options-div" style="float: right; font-size: 9pt; color: #73cb6f; top: 50%;"></div>
</div>
<table style="width: 100%; font-size: 9pt;">
    <tbody data-bind="foreach: filteredElements">
        <tr>
            <td data-bind="symbols: Symbol" style="vertical-align: top;"></td>
            <td data-bind="text: Text" style="vertical-align: top;"></td>
            <td data-bind="text: Category" style="vertical-align: top;"></td>
        </tr>
    </tbody>
</table>


