@model WebSite.Models.SubscriptionType

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>SubscriptionType</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SubscriptionFrequency.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SubscriptionFrequency.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsAvailableToUsers)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsAvailableToUsers)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.SubscriptionTypeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
