@model IEnumerable<WebSite.Models.Data.DailyAlert>

@{
    ViewBag.Title = "Manage Daily Alerts";
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CreationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PublishDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsPublished)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CreationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PublishDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsPublished)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DailyAlertId }) |
            @Html.ActionLink("Details", "Details", new { id=item.DailyAlertId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DailyAlertId })
        </td>
    </tr>
}

</table>
