@model WebSite.Models.UI.Portfolio
@{
    ViewBag.Title = "Portfolio";
}
@section Scripts
{
    @Scripts.Render("~/Scripts/knockout-2.1.0.js")
    <script type="text/javascript">
        $(function()
        {
            ko.applyBindings(new Object());
        });

    </script>
}
@section Styles
{
    <style type="text/css">
        .clickable-row
        {
            cursor: pointer;
        }

            .clickable-row:hover
            {
                background-color: #3b85e0;
            }

        .grey-background
        {
            background-color: #CCCCCC;
        }
    </style>
}
<h2>Portfolio</h2>
<h3 style="margin-left: 6%;">Stocks</h3>
<table style="text-align: center; width: 70%; margin: 0px auto; border-spacing: 0px; border-collapse: collapse;">
    <tbody>
        @{ 
            int stockIndex = 0; 
            foreach (var stockPick in Model.Stocks)
            {
                string background = string.Empty;

                if ((stockIndex & 1) > 0)
                {
                    background = "grey-background";
                }
               
                <tr class="clickable-row @(background)" data-bind="click: function() { window.location.href = '@Url.Action("StockPickDetail", "Picks", new { stockPickId = stockPick.PickId })'; }">
                    <td>@stockPick.Symbol</td>
                    <td>@stockPick.EntryPrice.ToString("C")</td>
                    <td>@stockPick.PublishingDate.Value.ToShortDateString()</td>
                    <td>@stockPick.Type.Name</td>
                    @if (stockPick.IsLongPosition)
                    {
                        <td style="color: #21892a">Long</td>
                    }
                    else
                    {
                        <td style="color: #ad2222">Short</td>
                    }
                </tr>
        
                stockIndex++;
            }
        }
    </tbody>
</table>
<h3 style="margin-left:6%;">Options</h3>
<table style="text-align: center; width: 50%; margin: 0px auto; border-spacing: 0px; border-collapse: collapse;">
    <tbody>
        @{
            int optionIndex = 0;
            foreach (var optionPick in Model.Options)
            {
                string background = string.Empty;
                if ((optionIndex & 1) > 0)
                {
                    background = "grey-background";
                }
                
                <tr class="clickable-row @(background)" data-bind="click: function() { window.location.href = '@Url.Action("OptionPickDetail", "Picks", new { optionPickId = optionPick.PickId })'; }">
                    <td>@optionPick.Symbol</td>
                    <td>@optionPick.Type.Name</td>
                    <td>@optionPick.PublishingDate.Value.ToShortDateString()</td>
                </tr>
            }
        }
    </tbody>
</table>
