@model WebSite.Models.Data.Picks.OptionPick

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>OptionPick</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Type.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Type.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Symbol)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Symbol)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PublishingDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PublishingDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsPublished)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsPublished)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreationDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreationDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ClosingDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ClosingDate)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.PickId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
