@model WebSite.Models.Data.Picks.StockPick
<h2>@(Model.IsLongPosition ? "Long" : "Short") Position on @(Model.Symbol) @@ @(Model.EntryPrice.ToString("C")) on @(Model.PublishingDate.HasValue ? Model.PublishingDate.Value.ToShortDateString() : "Unpublished") (@Model.Type.Name)</h2>
@(Html.Raw(Model.Description))
@Html.Partial("_PickUpdatesPartial", Model)
@if (Model.ClosingDate.HasValue)
{
    decimal movePercent = Model.PercentChange();
    if (movePercent >= 0)
    {
        <h2>Position closed on @(Model.ClosingDate.Value.ToShortDateString()) at price of @(Model.ExitPrice.Value.ToString("C")) with a <span style="font-weight: 400; color: green;">@movePercent.ToString("F")% gain</span> in @((Model.ClosingDate.Value - Model.PublishingDate.Value).Days) days.</h2>
    }
    else
    {
        <h2>Position closed on @(Model.ClosingDate.Value.ToShortDateString()) at price of @(Model.ExitPrice.Value.ToString("C")) with a <span style="font-weight: 400; color: red;">@movePercent.ToString("F")% loss</span> in @((Model.ClosingDate.Value - Model.PublishingDate.Value).Days) days.</h2>        
    }
}