@model WebSite.Models.UI.Performance
@{
    ViewBag.Title = "Stock and Options Performance";
}
@section Description
{
    <meta name="description" content="Detailed look on Stockwinners.com's portfolio over year @DateTime.UtcNow.Year." />
}
@section Text
{
    Stockwinners.com constantly monitors the stock exchange. One of our recent picks has been the facebook stock which has been performing very interestingly since its IPO. Facebook stock price has dropped over 50% since its IPO. Following facebook stock news, Stockwinners.com has been able to spot the opportunity and recommend a put option position on facebook stock that has returned more than 200% returns.
}
@section Styles
{
    <style type="text/css">
        .clickable-row
        {
            cursor: pointer;
        }

            .clickable-row:hover
            {
                background-color: #3b85e0;
            }

        .grey-background
        {
            background-color: #deeffc;
        }

        #body > table
        {
             margin: 0px auto; border-spacing: 0px; border-collapse: collapse; border-style: solid; border-width: 1px; border-color: #CCCCCC;
        }

        #body tr
        {
            border-bottom: solid 1px #CCCCCC;
        }

        #body td
        {
            padding-top: 2px;
        }

        #body h3
        {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    </style>
}
<h2>Year-to-date Performance <span style="font-weight: normal; color: #21892a;">@((Model.YearToDatePerformance * 100).ToString("f"))%</span></h2>
<p class="text-material">An initial investment of <span style="font-weight: bold">$100,000</span> invested in Stockwinners.com's portfolio at the beginning of January would equal <span style="font-weight: bold">@((100000*(1+Model.YearToDatePerformance)).ToString("C"))</span> as of @DateTime.UtcNow.ToShortDateString(), a yield of over @((Model.YearToDatePerformance * 100).ToString("f"))%.</p>
<p class="text-material">Our @DateTime.UtcNow.Year performance is presented below in a month-over-month basis. For the purposes of this calculation, any open positions at the end of the month are assumed to provide no gain or loss and their original investment amount is contributed to the portfolio value.</p>
<table style="width: 50%; margin: 0px auto;">
    <tbody>
        @{
            int monthIndex = 0;
            foreach (Tuple<DateTime, decimal> month in Model.MonthlyPerformance)
            {
                <tr class="@(monthIndex % 2 != 0 ? "grey-background" : "")">
                    <td style="width: 50%; text-align: center;">@month.Item1.ToString("MMMM")</td>
                    <td style="width: 50%; text-align: center;">@((month.Item2 * 100).ToString("f"))%</td>
                </tr>
                monthIndex++;
            }
        }
    </tbody>
</table>
<p class="text-material">To download detailed information about our holdings during this year in CSV format @Html.ActionLink("click here", "StockCalendar", "Information").</p>
<h2>Previous Year Performances</h2>
<p class="text-material">We have detailed listings of our positions for the following prior years. If you require additional data, please feel free to contact us and we will be happy to provide you with more information.
    <table style="width: 50%; margin: 0px auto;">
        <thead>
            <tr>
                <td style="text-align: center;">Year</td>
                <td style="text-align: center;">Stockwinners' Performance</td>
                <td style="text-align: center;">S&amp;P 500</td>
                <td style="text-align: center;">&nbsp;</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="text-align: center;">2005</td>
                <td style="text-align: center; color: #21892a;">28.54%</td>
                <td style="text-align: center; color: #21892a;">6.07%</td>
                <td style="text-align: center;"><a href="/Content/Performance/2005.xlsx">Details</a></td>
            </tr>
            <tr class="grey-background">
                <td style="text-align: center;">2006</td>
                <td style="text-align: center; color: #21892a;">19.38%</td>
                <td style="text-align: center; color: #21892a;">10.84%</td>
                <td style="text-align: center;"><a href="/Content/Performance/2006.xlsx">Details</a></td>
            </tr>
            <tr>
                <td style="text-align: center;">2007</td>
                <td style="text-align: center; color: #21892a;">26.05%</td>
                <td style="text-align: center; color: #21892a;">4.88%</td>
                <td style="text-align: center;"><a href="/Content/Performance/2007.xlsx">Details</a></td>
            </tr>
            <tr class="grey-background">
                <td style="text-align: center;">2008</td>
                <td style="text-align: center; color: #21892a;">14.77%</td>
                <td style="text-align: center; color: #ad2222;">-38.17%</td>
                <td style="text-align: center;"><a href="/Content/Performance/2008.xlsx">Details</a></td>
            </tr>
            <tr>
                <td style="text-align: center;">2009</td>
                <td style="text-align: center; color: #21892a;">62.29%</td>
                <td style="text-align: center; color: #21892a;">25.40%</td>
                <td style="text-align: center;"><a href="/Content/Performance/2009.xlsx">Details</a></td>
            </tr>
            <tr class="grey-background">
                <td style="text-align: center;">2010</td>
                <td style="text-align: center; color: #21892a;">115%</td>
                <td style="text-align: center; color: #21892a;">9.92%</td>
                <td style="text-align: center;"><a href="/Content/Performance/2010.xlsx">Details</a></td>
            </tr>
            <tr>
                <td style="text-align: center;">2011</td>
                <td style="text-align: center; color: #21892a;">22.07%</td>
                <td style="text-align: center; color: #ad2222;">-1.72%</td>
                <td style="text-align: center;"><a href="/Content/Performance/2011.xlsx">Details</a></td>
            </tr>
            <tr class="grey-background">
                <td style="text-align: center;">2012</td>
                <td style="text-align: center; color: #21892a;">84.9%</td>
                <td style="text-align: center; color: #21892a;">11.7%</td>
                <td style="text-align: center;"><a href="/Content/Performance/2012.xlsx">Details</a></td>
            </tr>
        </tbody>
    </table>
</p>
<h2>Recent Top Performance</h2>
<h3>Stock positions (top 15) closed recently</h3>
@Html.Partial("_ClosedStockListPartial", Model.TopRecentStocks)
<h3>Option positions (top 15) closed recently</h3>
@Html.Partial("_ClosedOptionListPartial", Model.TopRecentOptions)
<h2>Our Philosophy</h2>
<p class="text-material">Our philosophy is to lock in profits on a stock, once it has gained ten percents. Investors who elect to keep positions open after that point should adjust stop-loss levels upward, to protect their gains. Never chase rumors. Never fall in love with a stock. Be ready to lock in profits. Always do your homework.</p>
<p class="text-material">The true measure of any successful trading and/or investing is how much success YOU have! and how much money you can make from your own investments. Your success rate can and most likely will be different from our record. Past performance is no guaranty of future performance.</p>
<h2>Trade Execution</h2>
<p class="text-material">There are one to thirty days time frames associated with our stock selections. The price targets are set 10% above buy-in levels. The stop-losses are established 4%-6% below buy-in levels and are frequently related to a position of technical support. Selections exit the active portfolio when prices exceed the target, or fall below the stop-loss. </p>
<p class="text-material">If a stock pick remains for a month, it is removed from the active portfolio in any event.</p>
<p class="text-material">Due to the nature of options, our options selections are tailored more towards investors with a higher risk tolerance. As the strategries are complex, we don't have general execution rules. The stop loss and exit points differ for each selection. Be sure to use the follow feature to follow the trade of your choice to receive updates and exit points on our options selections.</p>
<h2>Position Sizes</h2>
<p class="text-material">After decades of trading the markets, Stockwinners.com has developed a sound strategy that limits systematic risk while focusing on maximizing profits through optimization of position sizes. Our trading strategy is as follows:</p>
<p class="text-material">We allocate 10% of our initial capital to every new trade until the available capital for investment reaches below 10% of the initial capital. From that point on, we allocate 10% of the remaining capital to every trade until the available cash exceeds 10% of the initial capital again. At that point, we switch back to allocating 10% of the initial capital to every trade. For example, if we start with $100,000, we invest $10,000 on every trade. As soon as the available cash falls below $10,000, say $8,000, we invest 10% of this amount on every trade or $800 in this example. Once available cash exceeds $10,000 again (say $12,000), we switch back to the 10% of the initial capital as the position size or $10,000 in this example. This allows a well diversified portfolio.</p>