@model WebSite.Models.LoginModel
@{
    ViewBag.Title = "Log in";
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<h2>Log in</h2>

@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
{
    @Html.ValidationSummary(true, "Log in was unsuccessful. Please correct the errors and try again.")
    <fieldset>
        <legend>Log in Form</legend>

        <table style="margin: 0px auto;">
            <tr>
                <td style="padding-right: 40px;">
                    <h3>Via Stockwinners:</h3>
                </td>
                <td style="padding-left: 40px;">
                    <h3>Via Social Network Identity Providers:</h3>
                </td>
            </tr>
            <tr>
                <td style="padding-right: 40px;">@Html.LabelFor(m => m.Email)
                    @Html.TextBoxFor(m => m.Email)</td>
                <td style="text-align: center; padding-left: 40px;">
                    <a href="@Url.Action("OAuthAuthenticate", "Authentication", new { identityProvider = WebSite.Models.IdentityProvider.Facebook }, null)">
                        <img src="../../Images/Social%20Networks/facebook-signin.gif" style="vertical-align: middle;" />
                    </a>
                </td>
            </tr>
            <tr>
                <td style="padding-right: 40px;">@Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password)</td>
                <td style="text-align: center; padding-left: 40px;"><a href="@Url.Action("OAuthAuthenticate", "Authentication", new { identityProvider = WebSite.Models.IdentityProvider.Google }, null)">
                    <img src="../../Images/Social%20Networks/google.gif" style="vertical-align: middle;" />
                </a></td>
            </tr>
            <tr>
                <td>@Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })</td>
                <td></td>
            </tr>
            <tr>
                <td style="padding-top: 20px;">@Html.ActionLink("Register", "Register") if you don't have an account.</td>
                <td></td>
            </tr>
            <tr>
                <td style="padding-left:250px; padding-top: 30px;">
                    <input type="submit" value="Log in" /></td>
                <td></td>
            </tr>
        </table>
    </fieldset>
}