@model WebSite.Models.LoginModel
@{
    ViewBag.Title = "Log in";
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
@if (ViewBag.HasSuspendedSubscription != null && ViewBag.HasSuspendedSubscription)
{
    <p class="message-error">Your last payment was not successful. Please @Html.ActionLink("update your payment details", "UpdateSubscription", "Members") to continue using the website.</p>
}
else if (ViewBag.TrialExpired != null && ViewBag.TrialExpired)
{
    <p class="message-error">Your trial has expired. Please @Html.ActionLink("subscribe", "Subscribe", "Members") to continue using the website.</p>
}
else if (!string.IsNullOrEmpty(ViewBag.ReturnUrl))
{
    <p class="message-error">The page you are trying to visit requires an account. Please sign in or activate your free 2 weeks trial membership below. If using Facebook or Google, Stockwinners.com will only access your name and email address from your social network provider.</p>
}
<p class="message-info" style="text-align: center;">By logging in, you agree to our @Html.ActionLink("Membership Policy", "MembershipPolicy", "Information") and @Html.ActionLink("Privacy Policy", "PrivacyPolicy", "Information").</p>
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
{
    @Html.ValidationSummary(true, "Log in was unsuccessful. Please correct the errors and try again.")
    <fieldset>
        <legend>Log in Form</legend>

        <table style="margin: 0px auto;">
            <tr>
                <td style="padding-right: 40px;">
                    <h3>Via Stockwinners:</h3>
                </td>
                <td style="padding-left: 40px;">
                    <h3>Via Social Network Identity Providers:</h3>
                </td>
            </tr>
            <tr>
                <td style="padding-right: 40px;">@Html.LabelFor(m => m.Email)
                    @Html.TextBoxFor(m => m.Email, new { tabindex = 1 })</td>
                <td style="text-align: center; padding-left: 40px;">
                    <a href="@Url.Action("OAuthAuthenticate", "Authentication", new { identityProvider = WebSite.Models.IdentityProvider.Facebook }, null)">
                        <img src="../../Images/Social%20Networks/facebook-signin.gif" style="vertical-align: middle;" />
                    </a>
                </td>
            </tr>
            <tr>
                <td style="padding-right: 40px;">@Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password, new { tabindex = 2 })</td>
                <td style="text-align: center; padding-left: 40px;"><a href="@Url.Action("OAuthAuthenticate", "Authentication", new { identityProvider = WebSite.Models.IdentityProvider.Google }, null)">
                    <img src="../../Images/Social%20Networks/google.gif" style="vertical-align: middle;" />
                </a></td>
            </tr>
            <tr>
                <td>@Html.CheckBoxFor(m => m.RememberMe, new { tabindex = 3 })
                    @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })</td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2" style="padding-top: 20px;">@Html.ActionLink("Register", "Register") if you don't have an account.</td>
            </tr>
            <tr>
                <td colspan="2" style="padding-top: 20px;">@Html.ActionLink("Reset your password", "ResetPassword") if you have forgotten your password.</td>
            </tr>
            <tr>
                <td style="padding-left:250px; padding-top: 30px;">
                    <input type="submit" value="Log in" tabindex="4" /></td>
                <td></td>
            </tr>
        </table>
    </fieldset>
}