@{
    ViewBag.Title = "Welcome to Stockwinners.com!";
}
<h2>Welcome!</h2>
<p>We're glad to have you as a Stockwinners.com member and hope you will find our services beneficial and profitable to you. We've sent you an email with instructions and general guidelines on how to make the most of the website.</p>
<a href="@Url.Action("Subscribe", "Members")"><img src="~/Images/Account/Subscribe.png" style="float: right; padding: 10px; border: none;" /></a><h3>Emails</h3>

<p style="font-size: 9pt;">You will be receiving emails from us regarding market alerts, stock picks, and option picks. Each investor has a unique strategy and approach to the stock market and we want to make sure you can customize your Stockwinners.com experience based on your strategy. Be sure to visit the @Html.ActionLink("members page", "Index", "Members") where you can pick and choose which type of email you are interested in. We recommend setting a filter in your email client to have all the email from Stockwinners.com moved to its own folder. This will allow you keep your email account organized and the Stockwinners.com related material separate from the rest.</p>
<p style="font-size: 9pt;">Here are tips on how to setup filters and folder rules for some of the popular email providers:<ul>
    <li style="font-size: 9pt;"><a href="http://support.google.com/mail/bin/answer.py?hl=en&answer=6579" target="_blank">Gmail</a></li>
    <li style="font-size: 9pt;"><a href="http://office.microsoft.com/en-us/outlook-help/manage-email-messages-by-using-rules-HA010355682.aspx" target="_blank">Outlook</a></li>
    <li style="font-size: 9pt;"><a href="http://help.yahoo.com/tutorials/mmail/mmail/mm_filter1.html" target="_blank">Yahoo!</a></li>
</ul></p>
<h3>Market Alerts</h3>
<p style="font-size: 9pt;">We typically issue 2 market alerts per day, one before the market opens and one around noon. We do a lot of research to find market moving and critical news, brokerage recommendation changes, mergers and acquisitions and other relevant news and summarize our findings in these emails so that you don't have to spend the time digging around various news outlets.</p>
<h3>Stock and Option Picks</h3>
<p style="font-size: 9pt;">We issue both stock and option picks. To learn more about our trading strategies and execution, please take a look at our @Html.ActionLink("philosophy and performance", "PhilosophyAndPerformance", "Information") page. If you are interested in executing a trade we suggest, be sure to follow the trade. You can follow the trade by clicking on the corresponding button in our @Html.ActionLink("portfolio", "Portfolio", "Picks") page. We issue updates on our selections and specify exit points and prices. When you follow a trade, you will receive these updates instantly via email allowing you to clone our actions if you so choose to.</p>
<h3>Active Traders</h3>
<p style="font-size: 9pt;">If you monitor the market on a daily basis, active traders is a must for your toolbox. We have reporters and news agents sending us a variety of news types such as upgrades/downgrades, unusual option and stock activities, mergers and acquisition, macro economic news, rumors, earnings reports and other significant reports. The news is delivered to your computer in real-time. Make sure to keep the @Html.ActionLink("active traders", "Home", "ActiveTraders") page open and choose which categories of news you like to receive by clicking on the gear icon in the top right hand corner.</p>

