@model WebSite.Models.RegistrationModel
@{
    ViewBag.Title = "Registration";
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<h2>Register to start your free trial.</h2>

<h3>Start with Google or Facebook:</h3>

<table style="width: 70%; margin: 0px auto">
    <tr>
        <td style="width: 50%; text-align: center;">
            <a href="@Url.Action("OAuthAuthenticate", "Authentication", new { identityProvider = WebSite.Models.IdentityProvider.Facebook }, null)">
                <img src="../../Images/Social%20Networks/facebook-signin.gif" style="vertical-align: middle;" />
            </a>
        </td>
        <td style="width: 50%; text-align: center;">
            <a href="@Url.Action("OAuthAuthenticate", "Authentication", new { identityProvider = WebSite.Models.IdentityProvider.Google }, null)">
                <img src="../../Images/Social%20Networks/google.gif" style="vertical-align: middle;" />
            </a>
        </td>
    </tr>
</table>
<h3>Or register directly with Stockwinners:</h3>

<p class="message-info">
    Passwords must be at least @Membership.MinRequiredPasswordLength characters long.
</p>

@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    <fieldset>
        <legend>Registration Form</legend>
        <table style="width: 90%; margin: 0px auto;">
            <tr>
                <td style="width: 50%;">
                    @Html.LabelFor(m => m.FirstName)
                    @Html.TextBoxFor(m => m.FirstName, new { tabindex = 1 })
                </td>
                <td style="width: 50%;">
                    @Html.LabelFor(m => m.Email)
                    @Html.TextBoxFor(m => m.Email, new { tabindex = 3 })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.LastName)
                    @Html.TextBoxFor(m => m.LastName, new { tabindex = 2 })
                </td>
                <td>
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password, new { tabindex = 4 })
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    @Html.LabelFor(m => m.ConfirmPassword)
                    @Html.PasswordFor(m => m.ConfirmPassword, new { tabindex = 5 })
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: right;">
                    <input type="submit" value="Register" tabindex="6" />
                </td>
            </tr>
        </table>
    </fieldset>
}
