@model IEnumerable<WebSite.Models.Data.Picks.StockPick>

@{
    ViewBag.Title = "Stock Picks";
}
<h2>Stock Picks</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table style="width: 100%;">
    <tr>
        <td style="text-align: center; width: 33%;">@Html.ActionLink("View Closed Positions", "ClosedPositions")</td>
        <td style="text-align: center; width: 33%;">@Html.ActionLink("View Open Positions", "OpenPositions")</td>
        <td style="text-align: center; width: 34%;">@Html.ActionLink("View All Positions", "AllPositions")</td>
    </tr>
</table>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EntryPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExitPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Symbol)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PublishingDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsPublished)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClosingDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EntryPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExitPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Symbol)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PublishingDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsPublished)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClosingDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.PickId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PickId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PickId }) |
            @Html.ActionLink("Issue Update", "SubmitUpdate", new { pickId = item.PickId })
        </td>
    </tr>
}

</table>
