<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    @if (string.IsNullOrEmpty(ViewBag.Title))
    {   
        <title>Stockwinners.com</title>
    }
    else
    {
        <title>Stockwinners.com - @ViewBag.Title</title>
    }
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <!-- Needed for open type font support of Open Sans and Merriweather -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300|Merriweather' rel='stylesheet' type='text/css'>
    @Styles.Render("~/Content/themes/base/css", "~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="page-box">
        <div id="header">
            <div id="logo-bar" style="padding: 4px 10px 0px 10px;">
                <table style="width: 100%; padding: 0px; margin: 0px;">
                    <tr>
                        <td>
                            <img src="~/Images/Logo.gif" alt="Stockwinners.com" />
                        </td>
                        <td style="text-align: right;">
                            @Html.Partial("_LoginPartial")
                        </td>
                    </tr>
                </table>
            </div>
            <div class="header-links-background">
                <div class="header-link-box"><a href="test.com" class="header-link-text">Active Traders</a></div>
                <div class="header-link-box"><a href="test.com" class="header-link-text">Stock Picks</a></div>
                <div class="header-link-box"><a href="test.com" class="header-link-text">Option Picks</a></div>
                <div class="header-link-box"><a href="test.com" class="header-link-text">Portfolio</a></div>
                <div class="header-link-box"><a href="test.com" class="header-link-text">Members</a></div>
            </div>
        </div>
        <div id="contents" style="padding: 10px;">
            @RenderSection("featured", required: false)
            <div id="body">
                @RenderBody()
            </div>
        </div>
        <div class="footer">
            <div style="text-align: center; padding: 3px;"><a class="footer-link-text">Stock Market 101</a>·<a class="footer-link-text">Trading Tips</a>· Chart Reading · Buying on Margin · Philosophy &amp; Performance · Membership Policy · Privacy Policy · Contact Us</div>
            <div style="text-align: center; padding: 3px;">&copy; @DateTime.Now.Year - Stockwinners.com</div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
