<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    @if (string.IsNullOrEmpty(ViewBag.Title))
    {   
        <title>Stockwinners.com</title>
    }
    else
    {
        <title>@ViewBag.Title</title>
    }
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @if (IsSectionDefined("Keywords"))
    {
        @RenderSection("Keywords", required: false)
    }
    else
    {
        <meta name="keywords" content="stocks,stock,option,put,call,daily,options,rumors,technical analysis,hot stock tips,daily picks,stock rumors,investment,winning stocks,winners,stockwinners">
    }
    @RenderSection("Description", required: false)
    <meta name="author" content="Stockwinners.com, LLC">
    <meta name="categories" content="financial,investment,business">
    <!-- Needed for open type font support of Open Sans and Merriweather -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300|Merriweather' rel='stylesheet' type='text/css'>
    @Styles.Render("~/Content/themes/base/css", "~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/shared")
</head>
<body>
    <div id="browser-warning" class="page-box" style="display: none;">
        @Html.ErrorMessage("Your browser does not display parts of our website correctly. We use the latest technology available to provide you with a high quality experience; please upgrade your browser to its latest version to view the contents properly:<ul><li><a href='https://www.google.com/intl/en/chrome/browser/'>Chrome</a></li><li><a href='http://www.mozilla.org/en-US/firefox/new/'>Firefox</a></li><li><a href='http://windows.microsoft.com/en-US/internet-explorer/downloads/ie'>Internet Explorer</a></li></ul>") 
    </div>
    <div class="page-box">
        <div id="header">
            <div id="logo-bar" style="padding: 3px 5px 0px 2px;">
                <table style="width: 100%; padding: 0px; margin: 0px; border-spacing: 0px; border-collapse: collapse;">
                    <tr>
                        <td rowspan="2" style="padding: 0px; vertical-align: top;"><a href="/" style="padding: 0px;"><img src="~/Images/Logo.gif" alt="Best Stock on the Market" style="border-width: 0px;" /></a></td>
                        <td style="padding: 3px 3px 0px 0px; text-align: right; vertical-align: top;">
                                @Html.Partial("_LoginPartial")
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 0px 0px 4px 0px; text-align: right; vertical-align: bottom;">
                            <table id="div-exchanges" style="font-size: 8pt; display: none; padding: 0px; border-spacing: 0px; border-collapse: collapse; float: right;">
                                <tr><td style="text-align: center; padding: 0px; padding-right: 15px;">DJIA SPDR</td><td style="text-align: center; padding: 0px; padding-right: 15px;">QQQ</td><td style="text-align: center; padding: 0px;">SPY</td></tr>
                                <tr>
                                    <td style="padding: 0px; padding-right: 15px;"><span id="span-djia-price"></span> <span id="span-djia-change"></span> <span id="span-djia-percent"></span></td>
                                    <td style="padding: 0px; padding-right: 15px;"><span id="span-nasdaq-price"></span> <span id="span-nasdaq-change"></span> <span id="span-nasdaq-percent"></td>
                                    <td style="padding: 0px;"><span id="span-sp-price"></span> <span id="span-sp-change"></span> <span id="span-sp-percent"></span></td></tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
            <div id="header-link-group" class="no-whitespace">
                <div>@Html.ActionLink("Services", "ProductsAndServices", "Information", new { area = "" }, null)</div>
                <div><a href="@Url.Action("Index", "ActiveTraders", new { area = "" })">Market Radar <sup style="font-size: 7pt;">RT</sup></a></div>
                <div>@Html.ActionLink("Stock Picks", "StockPicks", "Picks", new { area = "" }, null)</div>
                <div>@Html.ActionLink("Option Picks", "OptionPicks", "Picks", new { area = "" }, null)</div>
                <div>@Html.ActionLink("Portfolio", "Portfolio", "Picks", new { area = "" }, null)</div>
                <div>@Html.ActionLink("Performance", "PhilosophyAndPerformance", "Information", new { area = "" }, null)</div>
                <div>@Html.ActionLink("Pricing", "Pricing", "Information", new { area = "" }, null)</div>
                <div>@Html.ActionLink("Members", "Index", "Members", new { area = "" }, null)</div>
                @Html.Partial("_AdministratorLinksPartial")
                @Html.Partial("_TrialSubscribePartial")
            </div>
        </div>
        <div id="contents-unpadded">
            @RenderSection("UnpaddedContent", required: false)
        </div>
        @if (!IsSectionDefined("UnpaddedContent"))
        {
        <div id="contents" style="padding: 10px;">
            @RenderSection("featured", required: false)
            <div id="body">
                @RenderBody()
            </div>
        </div>
        }
        <div id="footer">
            <div>@Html.ActionLink("Stock Market 101", "Market101", "Information")·@Html.ActionLink("Options 101", "Options101", "Information")·@Html.ActionLink("Chart Reading", "ChartReading", "Information")·@Html.ActionLink("Buying on Margin", "BuyingOnMargin", "Information")·@Html.ActionLink("Site Map", "SiteMap", "Information")·@Html.ActionLink("Membership Policy", "MembershipPolicy", "Information")·@Html.ActionLink("Privacy Policy", "PrivacyPolicy", "Information")·@Html.ActionLink("Contact Us", "ContactUs", "Information")</div>
            @if (IsSectionDefined("Footer"))
            {
                <div>@RenderSection("Footer", required: false)</div>
            }
            <div>&copy; @DateTime.Now.Year - Stockwinners.com</div>
        </div>
    </div>
</body>
</html>
