<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    @if (string.IsNullOrEmpty(ViewBag.Title))
    {   
        <title>Stockwinners.com</title>
    }
    else
    {
        <title>Stockwinners.com - @ViewBag.Title</title>
    }
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <!-- Needed for open type font support of Open Sans and Merriweather -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300|Merriweather' rel='stylesheet' type='text/css'>
    @Styles.Render("~/Content/themes/base/css", "~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    @RenderSection("styles", required: false)
</head>
<body>
    <div class="page-box">
        <div id="header">
            <div id="logo-bar" style="padding: 4px 10px 0px 10px;">
                <table style="width: 100%; padding: 0px; margin: 0px;">
                    <tr>
                        <td>
                            <a href="/"><img src="~/Images/Logo.gif" alt="Stockwinners.com" style="border-width: 0px;" /></a>
                        </td>
                        <td style="text-align: right;">
                            @Html.Partial("_LoginPartial")
                        </td>
                    </tr>
                </table>
            </div>
            <div id="header-link-group" class="no-whitespace">
                <div>@Html.ActionLink("Active Traders", "Index", "ActiveTraders")</div>
                <div>@Html.ActionLink("Stock Picks", "StockPicks", "Picks")</div>
                <div>@Html.ActionLink("Option Picks", "OptionPicks", "Picks")</div>
                <div>@Html.ActionLink("Portfolio", "Portfolio", "Picks")</div>
                <div>@Html.ActionLink("Members", "Index", "Members")</div>
                @Html.Partial("_AdministratorLinksPartial")
                @if (!Request.IsAuthenticated)
                {
                    <div style="float: right;" class="trial"><img src="/Images/arrow-right-16.png" style="padding-right: 6px; margin: 0px; vertical-align: -3px; width: 16px; height: 16px;" />@Html.ActionLink("Free Trial", "Register", "Account")</div>
                }
            </div>
        </div>
        <div id="contents" style="padding: 10px;">
            @RenderSection("featured", required: false)
            <div id="body">
                @RenderBody()
            </div>
        </div>
        <div id="footer">
            <div>@Html.ActionLink("Stock Market 101", "Market101", "Information")·@Html.ActionLink("Options 101", "Options101", "Information")·@Html.ActionLink("Chart Reading", "ChartReading", "Information")·@Html.ActionLink("Buying on Margin", "BuyingOnMargin", "Information")·@Html.ActionLink("Philosophy & Performance", "PhilosophyAndPerformance", "Information")·@Html.ActionLink("Membership Policy", "MembershipPolicy", "Information")·@Html.ActionLink("Privacy Policy", "PrivacyPolicy", "Information")·@Html.ActionLink("Contact Us", "ContactUs", "Information")</div>
            <div>&copy; @DateTime.Now.Year - Stockwinners.com</div>
        </div>
    </div>
</body>
</html>
