<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    @if (string.IsNullOrEmpty(ViewBag.Title))
    {   
        <title>Stockwinners.com</title>
    }
    else
    {
        <title>@ViewBag.Title</title>
    }
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @if (IsSectionDefined("Keywords"))
    {
        @RenderSection("Keywords", required: false)
    }
    else
    {
        <meta name="keywords" content="stocks,stock,option,put,call,daily,options,rumors,technical analysis,hot stock tips,daily picks,stock rumors,investment,winning stocks,winners,stockwinners">
    }
    @RenderSection("Description", required: false)
    <meta name="author" content="Stockwinners.com, LLC">
    <meta name="categories" content="financial,investment,business">
    <meta name="robots" content="INDEX, FOLLOW">
    <meta name="revisit-after" content="1 days">
    <!-- Needed for open type font support of Open Sans and Merriweather -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300|Merriweather' rel='stylesheet' type='text/css'>
    @Styles.Render("~/Content/themes/base/css", "~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    @RenderSection("styles", required: false)
    <!-- Google Analytics -->
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-32515461-1']);
        _gaq.push(['_trackPageview']);
        (function ()
        {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</head>
<body>
    <div class="page-box">
        <div id="header">
            <div id="logo-bar" style="padding: 4px 10px 0px 10px;">
                <table style="width: 100%; padding: 0px; margin: 0px;">
                    <tr>
                        <td>
                            <a href="/"><img src="~/Images/Logo.gif" alt="Stockwinners.com" style="border-width: 0px;" /></a>
                        </td>
                        <td style="text-align: right;">
                            @Html.Partial("_LoginPartial")
                        </td>
                    </tr>
                </table>
            </div>
            <div id="header-link-group" class="no-whitespace">
                <div>@Html.ActionLink("Active Traders", "Index", "ActiveTraders")</div>
                <div>@Html.ActionLink("Stock Picks", "StockPicks", "Picks")</div>
                <div>@Html.ActionLink("Option Picks", "OptionPicks", "Picks")</div>
                <div>@Html.ActionLink("Portfolio", "Portfolio", "Picks")</div>
                <div>@Html.ActionLink("Performance", "PhilosophyAndPerformance", "Information")</div>
                <div>@Html.ActionLink("Members", "Index", "Members")</div>
                @Html.Partial("_AdministratorLinksPartial")
                @Html.Partial("_TrialSubscribePartial")
            </div>
        </div>
        <div id="contents" style="padding: 10px;">
            @RenderSection("featured", required: false)
            <div id="body">
                @RenderBody()
            </div>
        </div>
        <div id="footer">
            <div>@Html.ActionLink("Stock Market 101", "Market101", "Information")·@Html.ActionLink("Options 101", "Options101", "Information")·@Html.ActionLink("Chart Reading", "ChartReading", "Information")·@Html.ActionLink("Buying on Margin", "BuyingOnMargin", "Information")·@Html.ActionLink("Site Map", "SiteMap", "Information")·@Html.ActionLink("Membership Policy", "MembershipPolicy", "Information")·@Html.ActionLink("Privacy Policy", "PrivacyPolicy", "Information")·@Html.ActionLink("Contact Us", "ContactUs", "Information")</div>
            <div>&copy; @DateTime.Now.Year - Stockwinners.com</div>
        </div>
    </div>
    <span style="color:#eaeaea;font-family:'Courier New';font-size:8px; cursor: default;">
        @if (IsSectionDefined("Text"))
        {
            @RenderSection("Text", required: false)
        }
        else
        {
            @:Top Stock picking Site, Best web site for picking stocks, Oldest stock advisory, winning stock strategies, Best stock return over the past 12 years, best option picks, call options, put options, No losing stocks here, best technology stocks, best retail stocks, best technical analysis, best momentum stock picks, best stock rumors, top stock picks, double your money by these stocks, NYSE stocks, NASDAQ stocks, best ETF picks, fastest growing stocks, stocks to short, put options, straddle strategies,&nbsp; momentum ETF, stock splits, stocks that are ready to jump, stock market winners, day trading stocks, best day trading site, day traders heaven, best portfolio, Top Stock picking Site, Best web site for picking stocks, Oldest stock advisory, winning stock strategies, Best stock return over the past 12 years, best option picks, call options, put options, No losing stocks here, best technology stocks, best retail stocks, best technical analysis, best momentum stock picks, best stock rumors, top stock picks, double your money by these stocks, NYSE stocks, NASDAQ stocks, best ETF picks, fastest growing stocks, stocks to short, put options, straddle strategies,&nbsp; momentum ETF, stock splits, stocks that are ready to jump, stock market winners, day trading stocks, best day trading site, day traders heaven, best portfolio, stocks ready to move up, winning stocks for 2012, top stock site, stocks to buy for 2012, stocks to buy to double your money, top stock site, <br>top stock advisory site, best stock advisory site
        }
    </span>
</body>
</html>
