@model WebSite.Models.Data.Picks.OptionPickLeg

@foreach (WebSite.Models.Data.Picks.OptionPickLeg leg in ViewBag.OptionPick.Legs)
{
    Html.DisplayFor(m => leg);
    Html.ActionLink("Delete Leg", "DeleteLeg", new { optionPickLegId = leg.OptionPickLegId, optionPickId = ViewBag.OptionPick.PickId });
}

<p>Add New Leg</p>
@using (Html.BeginForm("AddLeg", "OptionPicks"))
{

<fieldset>
    <legend>Add New Leg</legend>
    @Html.Hidden("optionPickId", (object)ViewBag.OptionPick.PickId)
    <ul>
        <li>@Html.LabelFor(m => m.Name)
            @Html.TextBoxFor(m => m.Name)</li>
        <li>@Html.LabelFor(m => m.EntryPrice)
            @Html.TextBoxFor(m => m.EntryPrice)</li>
        <li>@Html.LabelFor(m => m.Quantity)
            @Html.TextBoxFor(m => m.Quantity)
        </li>
    </ul>
     
    <input type="submit" value="Add Leg" />

</fieldset>
}