@{
    ViewBag.Title = "Welcome";
}
@section Styles
{
    <style type="text/css">
        .blue 
        { 
            background-color: #6699FF; 
            
        }
            .blue:hover 
            { 
                background-color: #497add; 
            }
            
        .red
        {
            background-color: #ff8181;
        }
            .red:hover
            {
                background-color:  #d75050;
            }

        .green
        {
            background-color: #73bfbf;
        }
            .green:hover
            {
                background-color: #419696;
            }

        .yellow
        {
            background-color: #ffffcc;
        }
            .yellow:hover
            {
                background-color: #f2f294;
            }

        .dark-green
        {
            background-color: #009999;
        }
            .dark-green:hover
            {
                background-color: #096767;
            }
    </style>
}
<table class="box-table">
	<tr>
		<td colspan="2" style="width: 50%; height: 200px;">
			<div class="blue" onclick="window.location.href = '@Url.Action("PhilosophyAndPerformance", "Information")';">
				<span class="box-heading">Philosophy &amp; Performance</span><br/><br />
				<span>Stockwinners.com is one of the oldest stock advisory services in the internet. We have consistently been providing winning picks since 1998! Since 2001, an average of 38% of our picks gained more than 10% in less than 30 days.</span>
			</div>
		</td>
		<td style="width: 50%; padding-right:8px; height: 200px;">
			<div class="red" onclick="window.location.href = '@Url.Action("Register", "Account")';">
				<span class="box-heading">Trial Membership</span><br/><br />
				<span>We offer a free 2 weeks trial membership with full access to our picks and portfolio so you can try the service free of charge. We require no credit cards and have integrated our website with Facebook and Google so that you can start your trial with a single click.</span>
			</div>			 
		</td>
	</tr>
</table>

<table class="box-table">
	<tr>
		<td style="width: 33%; height: 250px;">
			<div class="green" onclick="window.location.href = '@Url.Action("StockPicks", "Picks")';">
				<span class="box-heading">Stock Picks</span><br/><br />
				<span>We provide daily stock picks based on technical analysis, news, momentum, and rumours that we scout from the market.</span>
			</div>
		</td>
		<td style="width: 33%; height: 250px;">
			<div class="yellow" onclick="window.location.href = '@Url.Action("OptionPicks", "Picks")';">
				<span class="box-heading">Option Picks</span><br/><br />
				<span>Stockwinners.com offers weekly option picks as an alternative investment vehicle to help investors utilize equity options to define risk, enhance yields, and make effective use of leverage to reduce the initial cost of trade.</span>
			</div>			 				
		</td>
		<td style="width: 34%; padding-right:8px; height: 250px;">
			<div class="dark-green" onclick="window.location.href = '@Url.Action("Index", "ActiveTraders")';">
				<span class="box-heading">Active Traders</span><br/><br />
				<span>Our active traders section provides you real-time market moving news. We publish market critical news before they become available elsewhere.We offer a variety of items such as upgrades/downgrades, market chatter, acquisitions, lawsuits, approvals, etc.</span>
			</div>			 					
		</td>
	</tr>
</table>
