@{
    ViewBag.Title = "Administer";
}
<ul>
    <li>Stock Picks
        <ul>
            <li>@Html.ActionLink("Manage Stock Picks", "Index", "StockPicks")</li>
            <li>@Html.ActionLink("Manage Stock Pick Types", "Index", "StockPickTypes")
                <ul><li>Stock pick types are the categories to which a stock pick belongs, such as &quot;Momentum&quot;, or &quot;Fundamentals&quot;.</li></ul>
            </li>
        </ul>
    </li>
    <li>Option Picks
        <ul>
            <li>@Html.ActionLink("Manage Option Picks", "Index", "OptionPicks")</li>
            <li>@Html.ActionLink("Manage Option Pick Types", "Index", "OptionPickTypes")
                <ul><li>Option pick types are the various option strategies that we'd like to publish such as &quot;Vertical Call Spread&quot;.</li></ul>
            </li>
        </ul>
    </li>
    <li>@Html.ActionLink("Manage Subscription Prices", "Index", "SubscriptionTypes")</li>
    <li>@Html.ActionLink("Manage Daily Alerts", "Index", "DailyAlerts")</li>
    <li>Users
        <ul>
            <li>@Html.ActionLink("Manage Users", "Index", "Users")</li>
            <li>@Html.ActionLink("Change User's Password", "ChangePassword", "Users")</li>
            <li>@Html.ActionLink("Change User's Email Address", "ChangeEmail", "Users")</li>
            <li>@Html.ActionLink("View Members with Suspended Payments", "SuspendedMembers", "Users")</li>
        </ul>
    </li>
    <li>@Html.ActionLink("Send Announcement to Users", "Announcement", "Users")</li>
</ul>