@{
    ViewBag.Title = "Statistics";
}
<h2>Statistics</h2>
<ul style="font-size: 16pt;">
    <li>Total users <strong>@ViewBag.UsersCount</strong></li>
    <li>Stockwinners Members <strong>@ViewBag.StockwinnersMembers</strong></li>
    <li>Google Members <strong>@ViewBag.GoogleMembers</strong></li>
    <li>Facebook Members <strong>@ViewBag.FacebookMembers</strong></li>
    <li>Users with an active trial membership <strong>@ViewBag.UsersWithActiveTrial</strong></li>
    <li>Users with an expired trial membership who are not subscribed either <strong>@ViewBag.UsersWithExpiredTrial</strong></li>
    <li>Users with suspended/failed payments <strong>@ViewBag.MembersWithSuspendedPayment</strong></li>
    <li>Users with cancelled subscriptions <strong>@ViewBag.UsersWithCancelledSubscriptions</strong></li>
    <li>Subscribed Members with Active Payments <strong>@ViewBag.SubscribedUsers</strong></li>
    <li>Monthly Subscribers with Active Payments <strong>@ViewBag.MonthlySubscribers</strong> (Monthly income of <strong>@ViewBag.MonthlyIncome.ToString("C")</strong>)</li>
    <li>Quarterly Subscribers with Active Payments <strong>@ViewBag.QuarterlySubscribers</strong> (Quarterly income of <strong>@ViewBag.QuarterlyIncome.ToString("C")</strong>)</li>
    <li>Yearly Subscribers with Active Payments <strong>@ViewBag.YearlySubscribers</strong> (Yearly income of <strong>@ViewBag.YearlyIncome.ToString("C")</strong>)</li>
    <li>Members with Auto Trading <strong>@ViewBag.MembersWithAutoTrading</strong></li>
</ul>
<div style="text-align: center;"><img src="@Url.Action("Registrations")" /></div>
<div style="text-align: center;"><img src="@Url.Action("TrialVersusSubscription")" /></div>
<div style="text-align: center;"><img src="@Url.Action("TrialExpiries")" /></div>
<div style="text-align: center;"><img src="@Url.Action("MonthlyIncomeDistribution")" /></div>